<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>ようこそ <%= @user.name %> 様</h1>
  <p>ご登録いただきましてありがとうございます。</p>
  <p>このアプリでは学習時間や備忘録を記録し、自分の学習を振り返ることができます<br>
  定期的に振り返ることで、効率的な学習を心がけましょう</p>
</body>
</html>