<% users.each do |user| %>
  <%= link_to user_path(user) do %>
  <div class="card mb-2">
    <div class="card-body d-flex justify-content-start" style="padding: 0.85rem;">
      <div class="col-2">
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png",size: "100x100" %>
      </div>
      <div class="col-8">
        <div style="font-size: 1.5rem">
          <%= user.name %>              
        </div>
        <div>
          <%= user.introduction %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
