<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar',user: @user %>
    <div class="col-9">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#record" id="record-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="record" aria-selected="true">積み上げ</a>
        </li>
        <li class="nav-item">
          <a href="#note" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="note" aria-selected="false">ノート</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content mt-3">
        <div id="record" class="tab-pane active fade show" role="tabpanel" aria-labelledby="record-tab">
          <%= render 'layouts/record_list', records: @records %>  
        </div>
        <div id="note" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
          <%= render 'layouts/note_list', notes: @notes %>              
        </div>
      </div>
    </div>    
  </div>
</div>