<div class="mb-1 chat-border login-user">
    <%= attachment_image_tag chat.user, :profile_image, :fill, 60, 60,  class: "pull-left profile-img ml-2",style:"border-radius: 20%;", fallback: "no_image.png",size: "60x60" %>    
  <%= chat.content %><br>  
</div>
