<div class="container-fluid">
  <div class="row">
    <%= image_tag 'top_img.jpg',class:"d-block mx-auto w-75 h-75 top-image" %>
  </div>
  <div class="row mt-5">
    <div class="col-5 offset-1">
      <h3>このサイトは</h3>
    </div>
  </div>  
  <div class="row top-bg justify-content-center">
    <div class="col-4">
      testtesttesttesttesttesttesttesttesttesttesttesttest
    </div>
    <div class="col-4">
      testtesttesttesttesttesttesttesttesttesttesttesttest
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-5 offset-1">
      <h3>コンセプト</h3>
    </div>  
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-5 offset-1">
      <h3>自分の頑張りを可視化できる</h3>          
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      testtesttesttesttesttesttesttesttesttesttest
    </div>
    <div class="col-4">
      testtesttesttesttesttesttesttesttesttesttest
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-5 offset-1">
      <h3>チャットで情報共有を図ろう</h3>        
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
      testtesttesttesttesttesttesttesttesttest
    </div>            
  </div>
</div>