<div class="container">
      
<h1>Chat room</h1>

<!-- 配信するroomidを宣言 -->
<div id="chats" data-room_id="<%= @room.id %>">
  <!-- 非同期でチャットデータを更新 -->
  <%= render @chats %>
</div>


<div class="form-group mt-5">
  
<form>
  <label>発言する</label><br>
  <input type="text" id="chat-input",class="form-control">
</form>
</div>

</div>    
