/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$bg-color: #fffdf9;
$top-bg-color: #f0f8ff;
$a-color: #000;
$a-visited-color: #808080;
$s-card-radius: 1rem;
$n-card-radius: 0.75rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $a-color;
  :visited {
    color: $a-visited-color;
  }
}

.badge-size {
  font-size: 14px;
}


// カードの設定
.s-card {
  $background: #f0f8ff;
  @extend .card;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  border-radius: $s-card-radius;
  & .s-header{
      @extend .card-header;
      background-color: $background;
      border-radius: calc(#{$s-card-radius} - 1px) calc(#{$s-card-radius} - 1px) 0 0;
    // 丸まらないところがあったため追記
    &:first-child {
      border-radius: calc(#{$s-card-radius} - 1px) calc(#{$s-card-radius} - 1px) 0 0;
    }
  }
  & .s-card-memo {
    position: relative;
    height: 20vh;
    & .absolute{
      position:absolute;
      top:5%;
      left:11%;
    }
  }
}

// ノートのカードの設定
.n-card {
  $n-border: #9be3de;
  @extend .card;
  border-radius: $n-card-radius;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  border-left: 10px solid $n-border;
  & .n-link-position {
    position:absolute;
    top:50%;
    right: 5%;
  }
  & .n-value {
    position:absolute;
    top:5%;
    right: 5%;
  }
  & .n-badge-position{
    position:absolute;
    top:20%;
    left: 40%;
  }
}




//共通部分ここまで----------------------------------------------------
// サイドバーの設定
.s-relative {
 position:relative;
 & .s-absolute {
  position: absolute;
  right:0;
  bottom:0;
 }
}




/*top画面の青い線*/
.top-bg {
  background-color: $top-bg-color;
  height: 200px;
}


/*ノートの一覧画面を表示する画面で日付を左寄せする処理*/
.notes-disp-left {
  margin-right: auto;
}

.note-area {
  width: 100%;
}
 
 #md-textarea {
  height: 50vh;
 }

/*カード情報のmemoを左上に配置*/
.memo-relative {
  position: relative;
  & .memo {
    position: absolute;
    top:0;
    left:5%
  }
  & .footer{
    position: absolute;
    right:0;
    bottom:0;
  }
}

// study_log-list 一覧の処理
.study-log-list {
  & .favorite-parent {
    position: relative;
    & .favorite-child {
      position: absolute;
      top:3%;
      right:5%
    }
  }
}

// study_log newアクションの処理
.study-log-new-width {
  width: 50%;
  & .content {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  & .width {
    width: 25%;
  }

  & .margin-right {
    margin-right: 1rem;
  }
}

// study_log showアクションの処理
.study-log-show {
  & .width {
    width: 50%;
  }
  & .favorite-parent {
  position: relative;
    & .favorite-child {
      position: absolute;
      top:1%;
      right:2%
    }
  }
  & .margin-auto{
    margin: 0 auto;
  }
}

// study_log editアクションの処理
.study-log-edit {
  & .width {
    width: 50%;
  }
}


.timeline-sidebar {
  .make {
       font-size:0.9rem;
     }

 .target {
        font-size:0.9rem;
   }
}

  .inner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
  }

// モーダルのリンクをボタン形式にする
.study-modal-button {
  cursor: pointer;
}

/* モーダル 　背景を作る処理*/
.study-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;
// モーダル自体の表示
  & .study-modal {
    position: absolute;
    top: 15%;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
  }
}

.note-modal-button {
  cursor: pointer;
}

/* モーダル 　背景を作る処理*/

.note-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;

// モーダル自体の表示
  & .note-modal {
    position: absolute;
    top: 2%;
    left: 0;
    bottom: 0;
    right: 0;
    & .note-modal-bg {
      background-color: orange;
      padding: 30px;
      border-radius: 2em;
    }
  }
}

@media screen and (max-width:1024px){
  
}

@media screen and (max-width: 768px){
   #md-textarea {
    height: 40vh;
  }

}

@media screen and (max-width: 425px){

.study-log-new-width {
  width: 100%;

  & .content {
    padding: 0.4rem;
  }

  & .width {
    width: 22%;
  }

  & .margin-right{
      margin-right: 0.25rem;
  }
}

// study-log-showのアクション
.study-log-show {
  &.width {
    width: 100%;
  }
}


// タイムラインのサイドバーの非表示
.note-list-img {
  display: none;
}


}
