/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require spectrum
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$bg-color: #fffdf9;
$top-bg-color: #f0f8ff;
$topbar-background-color: #3cb371;
$topbar-color: #F0FFFF;

$a-color: #000;
$a-visited-color: #808080;
$s-card-background: #cafddc;
$s-card-background-footer: #fffacd;
$s-card-radius: 1em;
$n-card-radius: 0.75em;
$u-card-radius: 0.75em;
$cNote-bg-color: #f0ffff;
$cNote-border-color: #9be3de;
$cUser-border-color: #9400d3;
$cChat: #99dddd;
$menu-trigger: #F0FFFF;
$profile-img-border: #F0F8FF;
$profile-img-background-color: white;
$footer-bgcolor: #996633;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: #545454;
}

a {
  text-decoration: none;
  color: $a-color;
  :visited {
    color: $a-visited-color;
  }
}

footer {
  color: white;
  width: 100%;
  display: block;
  background-color: $footer-bgcolor;
  position: absolute;
  bottom: 0;
}

#wrapper {
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.navbar-symbol {
  font-size: 2em;
}

// top画面の設定
.top-bar {
  height:8vh;
  background-color: $topbar-background-color;
  & a{
    color: $topbar-color;
    &:hover{
      text-decoration: none;
    }
  }
}


// バッヂの設定
.badge-tag {
  @extend .badge;
  font-size:12px;
  width:80px;
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
}


.bootstrap-tagsinput input{
  width:100%;
}


.top-tabs {
  font-size: 0.9em;
}


// Deviseの設定---------------------
.devise-password-form {
  width:300px;
}

.devise-regist-font {
  font-size: 0.9em;
}

.devise-relative {
  position: relative;
}

.devise-absolute{
  position: absolute;
  right:10%;
}
// profile画像の設定--------------------------------
.profile-img {
  border-radius: 100%;
  border: solid 2px $profile-img-border;
  background-color: $profile-img-background-color;
}

// ハンバーガーアイコンの設定---------------------
#hm-icon{
  position: fixed;
  display: none;
  right: 20px;
  z-index: 1;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
}
 
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $menu-trigger;
  border-radius: 4px;
}
 
.menu-trigger span:nth-of-type(1) {
  top: 10%;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 48%;
}
 
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
  background-color: #fff;
}

// spメニュー 
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 1;
}
 
#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}
 
#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

// 通知アイコンの設定---------------------------
.notification-relative {
  position: relative;

  & .notification-absolute {
  color: gold;
  position:absolute;
  top:10%;
  }
}


// top画面の設定--------------------
.top-bg {
  background-color: $top-bg-color;
  height: 330px;
}

.top-bg-can {
  background-color: $top-bg-color;
}

// 学習記録のカード設定-----------------------------------------
.s-card {
  @extend .card;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  border-radius: $s-card-radius;
  & .s-header{
      @extend .card-header;
      background-color: $s-card-background;
      border-radius: calc(#{$s-card-radius} - 1px) calc(#{$s-card-radius} - 1px) 0 0;
    // 丸まらないところがあったため追記
    &:first-child {
      border-radius: calc(#{$s-card-radius} - 1px) calc(#{$s-card-radius} - 1px) 0 0;
    }
  }
  & .s-card-memo {
    position: relative;
    height: 20vh;
    & .absolute{
      position:absolute;
      top:5%;
      left:11%;
    }
    & .s-show-absolute{
      position: absolute;
      top: 5%;
      left: 6.5%;
    }
  }
  & .study-log-show-tags {
    height:15vh;
  }
  & .s-card-footer {
    @extend .card-footer;
    background-color: $s-card-background-footer;
    &:last-child {
      border-radius: 0 0 1rem 1rem;
    }
    & .s-card-footer-margin{
      margin-left: auto;
    }
  }
}

// ノートのカード設定----------------------------------------------
.note-card {
  @extend .card;
  border-radius: $n-card-radius;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  border-left: 10px solid $cNote-border-color;
  & .value {
    position:absolute;
    top:5%;
    right: 5%;
  }
  & .title {
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1.5em;
    white-space: nowrap;
    width: 500px;
  }
  & .badge-position{
    position: absolute;
    bottom: 5%;
    right: 3%;
    & .tag-list:nth-child(n + 6){
      display: none;
    }
  }
  & .margin-left {
    margin-left: 1em;
  }
  // 編集・削除・お気に入りのリンク
  & .link {
    position:absolute;
    top:2%;
    right:5%;
  }

  & .font-size{
   font-size:1.5em;
  }
}

// ユーザのカードの設定------------------------------------------
.user-card {
  @extend .card;
  border-radius: $u-card-radius;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  border-left: 10px solid $cUser-border-color;
  & .follow {
     position:absolute;
     top:5%;
     right:5%;
  }
}

// ユーザeditの設定------------------------------------------
.user-edit-image{
  float:left;
}

// adminユーザshow
.admin-user-show{
  float: left;
  flex-direction: column;
}


// サイドバーの設定
.sidebar-relative {
 position:relative;
 & .absolute {
  position: absolute;
  right:0;
  bottom:0;
 }
}

// profile画面(user/edit)の設定-------------------
.profile-font-size{
  font-size:1.5em;
}

//ノートの一覧画面を表示する画面で日付を左寄せする設定------
.notes-disp-left {
  margin-right: auto;
}

.note-area {
  width: 100%;
}

.note-under {
  margin-top:0;
  margin-bottom:0;
}
 
 #md-textarea {
  height: 50vh;
 }

/*カード情報のmemoを左上に配置*/
.memo-relative {
  position: relative;
  & .memo {
    position: absolute;
    top:0;
    left:5%
  }
  & .footer{
    position: absolute;
    right:0;
    bottom:0;
  }
}

// study_log-list 一覧の処理
.study-log-list {
  & .favorite-parent {
    position: relative;
    & .favorite-child {
      position: absolute;
      top:3%;
      right:5%
    }
  }
  & .study-log-list-tag {
    height:15vh;
  }
}

// study_log newアクションの処理
.study-log-new-width {
  width: 50%;
  & .content {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25em;
  }

  & .width {
    width: 25%;
  }

  & .margin-right {
    margin-right: 1em;
  }
}

// study_log showアクションの処理
.study-log-show {
  & .width {
    width: 50%;
  }
  & .study-log-show-parent {
    position: relative;
    & .favorite-child {
      position: absolute;
      top:1%;
      right:5%
    }
    & .edit-link-child {
      position: absolute;
      top: 23%;
      right: 5%;
    }
  }
  & .margin-auto{
    margin: 0 auto;
  }
}

// study_log editアクションの処理-----------
.study-log-edit {
  & .width {
    width: 50%;
  }
}

// サイドバーの処理------------------------
.timeline-sidebar {
  .make {
       font-size:0.9em;
     }
 .target {
        font-size:0.9em;
   }
}

// チャット機能のレイアウトの処理---------------
.chat {
  display:flex;
  & .says {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 1em;
      border-radius: 1.5em;
      background: $cChat;
      &:after{
        content: "";
        position:absolute;
        border: 10px solid transparent;
      }
  }
  &.other-user{
    justify-content: flex-start;
    & .icon {
      margin-right:1em;
    }
    & .says:after {
      left: -26px;
      border-right: 20px solid  $cChat;
    }
  }
  &.self-user {
    display:flex;
    justify-content:flex-end;
    & .icon {
      margin-left:1em;
      order: 2;
      } 
    & .says:after {
      right: -26px;
      border-left: 20px solid $cChat;
    }
  }
  // actioncableでデータ作成後の処理
  // 自分の投稿
  &.self {
    justify-content:flex-end;
    & .icon {
      margin-left:1em;
    } 
  }
  // 相手の投稿
  &.other {
    justify-content: flex-start;
    & .icon {
      order: 0;
      margin-left: 0;
      margin-right: 1em;
    }
    & .says:after {
      right: initial;
      left: -16px;
      border-right: 20px solid $cChat;
      border-left: initial;
    }
  }
}

// チャートグラフの処理-----------------------------
.pie_chart {
  float:left;
  width:50%;
  position:absolute;
  left:10%;
  padding:5%;
  & #pie {
    position: relative;
    width:200px;
    height:200px;
  }
  & .study-log-inner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 48%;
  }
}

.doughnut-chart{
  float:left;
  width:50%;
  position:absolute;
  right:-15%;
  padding:5%;
  & .doughnut-area{
    position:relative;
    & #doughnut{
      position: relative;
    }
    & .achievement-inner {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 48%;
    }
  }
}


@media screen and (max-width: 768px){
   #md-textarea {
    height: 40vh;
  }
  .navbar-right{
    display:none;
  }

  #hm-icon {
    display: inherit
  }

  .top-bg {
    background-color: $top-bg-color;
    height: 660px;
  }


  .study-log-show {
    & .width {
        width: 100%;
    }
  }

  .user-edit-image{
    justify-content: center;
    float: none;
    display: flex;
  }

  .admin-user-show{
    justify-content: center;
    flex-direction: unset;
    float: none;
  }

  .s-card {
    & .s-card-memo {
      & .s-show-absolute{
        position: absolute;
        top: 5%;
        left: 10%;
      }
    }
  }

.pie_chart {
  & .study-log-inner {
    top: 40%;
  }
}

.doughnut-chart{
  & .doughnut-area{
    position:relative;
    & .achievement-inner {
      top: 35%;
    }
  }
}

.user-list-img{
  display: none;
}



}

@media screen and (max-width: 425px){

  #wrapper {
      min-height: 100vh;
      position: relative;/*←相対位置*/
      padding-bottom: 200px;/*←footerの高さ*/
      box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }

  .navbar-top-icon {
    top: 0%;
    position: absolute;
    left: 3%;
  }

  // ノートのカード設定
  .note-card {
    & .title {
      width: 250px;
    }
    & .badge-position {
      & .tag_list{
        display: none;
      }
    }
    & .list-img {
      display: none;
    }
    & .margin-left {
      margin-left: 0;
    }
  }

  .notification-absolute {
    color: gold;
    position:absolute;
    top:10%;
    left:40%;
  }

  .study-log-new-width {
    width: 100%;
    & .content {
      padding: 0.4em;
    }
    & .width {
      width: 22%;
    }
    & .margin-right{
        margin-right: 0.25em;
    }
  }

  // study-log-showのアクション
  .study-log-show {
    &.width {
      width: 100%;
    }
  }
  .devise-omni-icon{
    text-align: right;
  }

  .devise-session-font {
    font-size: 0.8em;
  }

}
