/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$bg-color: #fffdf9;
$top-bg-color: #f0f8ff;
$a-color: #000;
$a-visited-color: #808080;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $a-color;
  :visited {
    color: $a-visited-color;
  }
}

/*top画面の青い線*/
.top-bg {
  background-color: $top-bg-color;
  height: 200px;
}


/*ノートの一覧画面を表示する画面で日付を左寄せする処理*/
.notes-disp-left {
  margin-right: auto;
}


/*カード情報のmemoを左上に配置*/
.memo-relative {
  position: relative;
  & .memo {
    position: absolute;
    top:0;
    left:5%
  }
  & .footer{
    position: absolute;
    right:0;
    bottom:0;
  }
}

.study-log-new-width {
  width: 50%;

  & .content {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  & .width {
    width: 25%;
  }

  & .margin-right {
    margin-right: 1rem;
  }
}

.note-list {

}

timeline-sidebar {
  .make {
       font-size:0.9rem;
     }

 .target {
        font-size:0.9rem;
   }
}
@media screen and (max-width:1024px){
  
}

@media screen and (max-width: 768px){
  
}

@media screen and (max-width: 425px){

.study-log-new-width {
  width: 100%;

  & .content {
    padding: 0.4rem;
  }

  & .width {
    width: 22%;
  }

  & .margin-right{
      margin-right: 0.25rem;
  }
}

// タイムラインのサイドバーの非表示
.note-list-img {
  display: none;
}


}
