<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="#study_input" class="form-group mb-3">
        <h6>
          <div class="d-flex mb-3 mt-3">
            <select id="search_select" name="search" class="form-control col-lg-1 col-3">
              <option value="name">名前</option>
              <option value="tag">タグ</option>
            </select>
            <input type="form" id="form" class="form-control" placeholder="ユーザ名を入力してください" style="width: 250px;" /></h6>
          </div>
      </div>
    </div>

      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#study_log" id="study_log-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="record" aria-selected="true">積み上げ</a>
        </li>
        <li class="nav-item">
          <a href="#note" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="note" aria-selected="false">ノート</a>
        </li>
        <li class="nav-item">
          <a href="#user" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="user" aria-selected="false">ユーザ</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content mt-3">
        <div id="study_log" class="tab-pane active fade show" role="tabpanel" aria-labelledby="study_log-tab">

        <div class="btn-group mb-3 study_btn" id="study_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="study_favorite_sort">いいねランキング</button>
          <button type="button" class="sort btn btn-secondary" id="study_created_sort">作成順</button>
        </div>

        <div id="study-preview" class="row">
          <%= render 'study_logs/study_log_list', study_logs: @study_logs %>          
        </div>

      </div>
      <div id="note" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
        <div class="btn-group mb-3 study_btn" id="note_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="note_favorite_sort">いいねランキング</button>
          <button type="button" class="sort btn btn-secondary" id="note_posted_sort">作成順</button>
        </div>

        <div id="note-preview">
          <%= render 'notes/note_list', notes: @notes %>
        </div>
      </div>

      <div id="user" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
        <div class="btn-group mb-3 study_btn" id="user_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="user_follower_sort">フォロワー数順</button>
          <button type="button" class="sort btn btn-secondary" id="user_posted_sort">作成順</button>
        </div>
        <div id="user-preview">
          <%= render 'users/user_list', users: @users %>          
        </div>
      </div>
    </div>
  </div>    
</div>
</div>
<script>
  $(document).on('turbolinks:load', function () {

// 各HTMLを作成する処理ここから---------------------------
    // StudyLogのHTMLを作成
    function StudyLog_HTML(study_log) {
      var study_log_html = '';
      var study_log_detail_html = '';
      var study_log_detail_tags = '';
      var study_log_favorite_html = '';
      var study_log_image = '';
      var html = '';

      // １件ずつデータを受け取り、HTMLを形成
      study_log.forEach(function(study_log){
        var study_log_favorites = 0;
        var study_log_own_favorite = false;

        // お気に入りのカウント・自分のIDが存在しているかの確認
        study_log.study_log_favorites.forEach(function(study_log_favorite){
          study_log_favorite_html = '';
          study_log_favorites += 1;
          // console.log(study_log_favorite.user_id);
          // console.log(study_log.current_user_id);
          // お気に入りをしたユーザと、ログインしているユーザが一致しているか判定する
          if (study_log_favorite.user_id === study_log.current_user_id){
            study_log_own_favorite = true;
          }
          // console.log(study_log_own_favorite + "study_own-------");

      });
        // いいねの処理(分岐)
        if(study_log_own_favorite == true){
          study_log_favorite_html = `<a data-remote="true" rel="nofollow" data-method="delete" href="/study_logs/${study_log.id}/study_log_favorites"><i class="fas fa-heart">${study_log_favorites}</i></a>`
        }else{
          study_log_favorite_html = `<a data-remote="true" rel="nofollow" data-method="post" href="/study_logs/${study_log.id}/study_log_favorites"><i class="far fa-heart">${study_log_favorites}</i></a>`

        };

        // 勉強詳細時間の処理
        study_log.study_log_details.forEach(function(study_log_detail){
          let study_log_detail_tags = '';
          // タグのHTMLを形成
          study_log_detail.tags.forEach(function(tags,index_tag){
            study_log_detail_tags += `<span class="badge badge-primary p-2">
                                        ${study_log_detail.tags[index_tag].tag}
                                      </span>`
          });
          // 学習内容詳細のHTMLを形成
            study_log_detail_html = `<li class="list-group-item">
                                      <span class="col-3">学習内容</span>
                                      <span class="col-9">${study_log_detail_tags}</span>
                                    </li>
                                    <li class="list-group-item">
                                      <span class="col-3">学習時間</span>
                                      <span class="col-9">${study_log_detail.hour}時間${study_log_detail.min}分</span> 
                                    </li>`
        });
        // プロフィール画像が設定されているか確認
        if(study_log.user.profile_image == null){
         study_log_image = `<img class="attachment user profile_image pull-left profile-img fallback" src="/assets/no_image.png" style="width: 80px; height="80px;">`
        } else {
          study_log_image =`<img class="attachment user profile_image pull-left profile-img" src="${study_log.user.profile_image}"style="width: 80px; height: 80px;">`
        }

        // htmlを生成
          study_log_html += `<div class="col-4 mb-2">
                              <div class="card h-100">
                                <div class="card-header">
                                  <div>
                                    ${study_log.working_date}
                                  </div>
                                  <div>
                                    ${study_log_image}
                                    <span class="ml-1">
                                      ${study_log.user.name}
                                    </span>
                                  </div>
                                </div>
                                <ul class="list-group">
                                  ${study_log_detail_html}
                                  <li class="list-group" style="height: 20vh;">
                                    <div class="card-body pt-2">
                                    <div class="memo">
                                        <span class="col-3">メモ</span>
                                    </div>
                                    <div class="mt-2 col-12">
                                        ${study_log.memo}
                                    </div>
                                  </div>
                                </li>
                              </ul>
                              <div class="memo-detail-relative mt-3">
                                <div class="card-footer">
                                  <!-- いいね機能の処理 -->
                                  <span id="study-log-favorite-${study_log.id}">
                                    ${study_log_favorite_html}
                                  </span>
                                  <span class="ml-2 mr-2"><a href="/study_logs/${study_log.id}">詳細へ</a></span>
                                </div>
                              </div>
                            </div>
                          </div>`
         });
    return study_log_html;
    };

    // NoteのHTMLを作成
    function Note_HTML(note){
      var note_html = '';
      var html = '';
      var note_comments_count = 0;
      var note_favorites_count = 0;
      var note_img = '';

      // １件ずつデータを受け取り、HTMLを形成
      note.forEach(function(note){
        // カウントを初期化
        note_comments_count = 0;
        note_favorites_count = 0;
        note.note_favorites.forEach(function(note_favorite){
          note_favorites_count += 1;
        });
        note.note_comments.forEach(function(note_comment){
          note_comments_count += 1;
        });
        note.tags.forEach(function(tag){
          // 未実装　今後追加
        });

        // ユーザ画像が登録されているか確認
        if(note.user.profile_image == null){
         note_image = `<img class="attachment user profile_image pull-left profile-img fallback" src="/assets/no_image.png" style="width: 100px; height: 100px;">`
        } else {
          note_image =`<img class="attachment user profile_image pull-left profile-img" src="${note.user.profile_image}" style= "width: 100px; ,height: 100px;">`
        };

        // ノートのhtmlを作成
        note_html +=  ` <div class="card mt-2">
                          <div class="card-header d-flex justify-content-end">
                            <div class="col-3 notes-disp-left">
                              ${note.created_at}
                            </div>
                            <div class="col-2">
                              ${note_favorites_count}いいね
                            </div>
                            <div class="col-2">
                              ${note_comments_count}コメント
                            </div>
                          </div>
                          <div class="card-body d-flex justify-content-start">
                            <div class="col-2">
                              ${note_image}
                            </div>
                            <div class="col-10">
                              <h4>${note.title}</h4>
                              ${note.body}
                              <div class="text-right">
                                <a class="btn btn-primary" href="/notes/${note.id}">記事を見る</a>
                              </div>
                            <div class="text-right">
                            </div>
                          </div>
                        </div>
                        </div>  `
    });
    return note_html;
    }

    // UserのHTMLを作成
    function UserHTML(user){
      var html = '';
      var user_html = '';
      var user_image = '';
      // １件ずつデータを受け取りHTMLを形成する
      user.forEach(function(user){

        // ユーザ画像が登録されているか確認
        if(user.profile_image == null){
         user_image = `<img class="attachment user profile_image pull-left profile-img fallback" src="/assets/no_image.png" style= "width: 100px; ,height: 100px;">`
        } else {
          user_image =`<img class="attachment user profile_image pull-left profile-img" src="${user.profile_image}" style= "width: 100px; ,height: 100px; object-fit: cover;">`
        };

        // htmlを作成する処理
        user_html +=`  <a href="/users/${user.id}"%>
                        <div class="card mb-2">
                          <div class="card-body d-flex justify-content-start" style="padding: 0.85rem;">
                            <div class="col-2">
                              ${user_image}
                            </div>
                            <div class="col-8">
                              <div style="font-size: 1.5rem">
                                ${user.name}              
                              </div>
                              <div>
                                ${user.introduction}
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>  `
      });
    return user_html;
    }

// 各HTMLを作成する処理ここまで---------------------------
  // 以下Ajaxの処理

    // sortクラスが付与されているボタンがクリックされたら処理を実行
    $('.sort').on('click',function () {
      // value値取得(id)
      var val = $(this).attr('id');
      var parent = $(this).parent().attr('id');
      // console.log(val);
      // console.log(parent);
    
      // ajaxでデータを送信
      $.ajax({
        // searchコントローラのsortアクションにsortidをjsonでコントローラへ送る
        type: 'GET',
        url: '/searchs/sort',
        data: {
          sort_id: val
        },
        dataType: 'json'
      })
      // 成功した時の処理
      .done(function(data){
        console.log(data + "---------");
        if (parent == "study_sort"){
          var html = StudyLog_HTML(data.study_logs);
          $('#study-preview').html(html);
        }else if(parent == "note_sort"){
          var html = Note_HTML(data.notes);
          $('#note-preview').html(html);
        }else if(parent == "user_sort"){
          var html = UserHTML(data.users);
          $('#user-preview').html(html);
        }
      });
    });    

    // テキストフォームにデータが入力されたら処理を実行
    $("#form").on('keyup',function(e){
      var keyword = $.trim($(this).val());
      var genre = $("#search_select").val();

      // ajaxでデータを送信
      $.ajax({
        // searchコントローラのsearchアクションにkeywordをjsonでコントローラへ送る
        type: 'GET',
        url: '/searchs/search',
        data: {
          keyword: keyword,
          genre: genre
        },
        dataType: 'json'
      })
      // 検索結果をコントローラから受け取った後の処理
      .done(function(data){
          var study_log = StudyLog_HTML(data.study_logs);
          var note = Note_HTML(data.notes);
          var user = UserHTML(data.users);
          console.log(genre);
          // タグ検索の際名前は何もしない
          if(genre === "name"){
            $('#study-preview').html(study_log);
            $('#note-preview').html(note);
            $('#user-preview').html(user);
          }else if(genre === "tag"){
            $('#study-preview').html(study_log);
            $('#note-preview').html(note);            
          };
       });
    });
  });
</script>