<div class="container">
  <div class="row">
    <div class="col-12">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#study_log" id="study_log-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="record" aria-selected="true">積み上げ</a>
        </li>
        <li class="nav-item">
          <a href="#note" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="note" aria-selected="false">ノート</a>
        </li>
        <li class="nav-item">
          <a href="#user" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="user" aria-selected="false">ユーザ</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content mt-3">
        <div id="study_log" class="tab-pane active fade show" role="tabpanel" aria-labelledby="study_log-tab">
          <div class="btn-group mb-3 study_btn" role="group">
            <button type="button" class="btn btn-secondary" id="study_favorite_sort">いいねランキング</button>
            <button type="button" class="btn btn-secondary" id="study_posted_sort">作成順</button>
          </div>
          <%= render 'layouts/study_log_list', study_logs: @study_logs %>  
        </div>
        <div id="note" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
          <div class="btn-group mb-3 study_btn" role="group">
            <button type="button" class="btn btn-secondary" id="study_favorite_sort">いいねランキング</button>
            <button type="button" class="btn btn-secondary" id="study_posted_sort">作成順</button>
          </div>

          <%= render 'layouts/note_list', notes: @notes %>              
        </div>
        <div id="user" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
          <div class="btn-group mb-3 study_btn" role="group">
            <button type="button" class="btn btn-secondary" id="study_favorite_sort">フォロワー数順</button>
            <button type="button" class="btn btn-secondary" id="study_posted_sort">作成順</button>
          </div>
          <%= render 'layouts/user_list', users: @users %>
        </div>
      </div>
    </div>    
  </div>
</div>