<div class="container">
  <div class="row">
    <div class="col-12">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#study_log" id="study_log-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="record" aria-selected="true">積み上げ</a>
        </li>
        <li class="nav-item">
          <a href="#note" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="note" aria-selected="false">ノート</a>
        </li>
        <li class="nav-item">
          <a href="#user" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="user" aria-selected="false">ユーザ</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content mt-3">
        <div id="study_log" class="tab-pane active fade show" role="tabpanel" aria-labelledby="study_log-tab">

        <div class="btn-group mb-3 study_btn" id="study_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="study_favorite_sort">いいねランキング</button>
          <button type="button" class="sort btn btn-secondary" id="study_created_sort">作成順</button>
        </div>

        <div id="study-preview" class="row">
          <%= render 'study_logs/study_log_list', study_logs: @study_logs %>          
        </div>

      </div>
      <div id="note" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
        <div class="btn-group mb-3 study_btn" id="note_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="note_favorite_sort">いいねランキング</button>
          <button type="button" class="sort btn btn-secondary" id="note_posted_sort">作成順</button>
        </div>

        <div id="note-preview">
          <%= render 'notes/note_list', notes: @notes %>
        </div>
      </div>

      <div id="user" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
        <div class="btn-group mb-3 study_btn" id="user_sort" role="group">
          <button type="button" class="sort btn btn-secondary" id="user_follower_sort">フォロワー数順</button>
          <button type="button" class="sort btn btn-secondary" id="user_posted_sort">作成順</button>
        </div>
        <div id="user-preview">
          <%= render 'users/user_list', users: @users %>          
        </div>
      </div>
    </div>
  </div>    
</div>
</div>
<script>
  $(document).on('turbolinks:load', function () {

    // StudyLogのHTMLを作成
    function StudyLog_HTML(study_log) {
      var study_log_html = '';
      var study_log_detail_html = '';
      var study_log_detail_tags = '';
      var html = '';

      study_log.forEach(function(study_log,index){
        study_log.study_log_details.forEach(function(study_log_detail){
          study_log_detail.tags.forEach(function(tags,index_tag){
            study_log_detail_tags += `<span class="badge badge-primary p-2">
                                        ${study_log_detail.tags[index_tag].tag}
                                      </span>`
          });
          study_log_detail_html += `<li class="list-group-item">
                                      ${study_log_detail_tags}
                                    </li>
                                    <li class="list-group-item">
                                      ${study_log_detail.hour}時間${study_log_detail.min}分
                                    </li>`
          });

          study_log_html += `<div class="col-4">
                              <div class="card h-100">
                                <div class="card-header">
                                  <div>
                                    ${study_log.working_date}
                                  </div>
                                  <div>
                                    ${study_log.user.profile_image}
                                    <span class="ml-1">
                                      ${study_log.user.name}
                                    </span>
                                  </div>
                                </div>
                                <ul class="list-group">
                                  ${study_log_detail_html}
                                  <li class="list-group" style="height: 10vh;">
                                    <div class="card-body memo-relative">
                                      <div class="memo">
                                      memo
                                      </div>
                                      <div class="mt-2">
                                        ${study_log.memo}
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                                <div class="memo-detail-relative mt-3">
                                 <div class="card-footer">
                                    <!-- いいね機能の処理 -->
                                    <span id="study-log-favorite-${study_log.id}">
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>`
         });
    html +=  study_log_html;
    console.log(html);
    return html;
    }

    // NoteのHTMLを作成
    function Note_HTML(note){
      var note_html = '';
      var html = '';
      var note_comments_count = 0;
      var note_favorites_count = 0;

      note.forEach(function(note){
        // カウントを初期化
        note_comments_count = 0;
        note_favorites_count = 0;
        note.note_favorites.forEach(function(note_favorite){
          note_favorites_count += 1;
        });
        note.note_comments.forEach(function(note_comment){
          note_comments_count += 1;
        });
        note.tags.forEach(function(tag){
          // 未実装　今後追加
        });

        note_html +=  ` <div class="card mt-2">
                          <div class="card-header d-flex justify-content-end">
                            <div class="col-3 notes-disp-left">
                              ${note.created_at}
                            </div>
                            <div class="col-2">
                              ${note_favorites_count}いいね
                            </div>
                            <div class="col-2">
                              ${note_comments_count}コメント
                            </div>
                          </div>
                          <div class="card-body d-flex justify-content-start">
                            <div class="col-2">
                              ${note.user.profile_image}
                            </div>
                            <div class="col-10">
                              <h4>${note.title}</h4>
                              ${note.body}
                            <div class="text-right">
                              <a class="btn btn-primary" href="/notes/${note.id}">記事を見る</a>
                            </div>
                            <div class="text-right">
                            </div>
                          </div>
                        </div>  `
      });
    html += note_html;
    return html;
    }

    // UserのHTMLを作成
    function UserHTML(user){
      var html = '';
      var user_html = '';
      user.forEach(function(user){
      user_html +=`  <a href="/users/${user.id}"%>
                  <div class="card mb-2">
                    <div class="card-body d-flex justify-content-start" style="padding: 0.85rem;">
                      <div class="col-2">
                        ${user.profile_image_id}
                      </div>
                      <div class="col-8">
                        <div style="font-size: 1.5rem">
                          ${user.name}              
                        </div>
                        <div>
                          ${user.introduction}
                        </div>
                      </div>
                    </div>
                  </a>  `
      });
    html += user_html;
    return html;
    }


    // sortクラスが付与されているボタンがクリックされたら処理を実行
    $('.sort').on('click',function () {
    // value値取得(id)
    var val = $(this).attr('id');
    var parent = $(this).parent().attr('id');
    console.log(val);
    console.log(parent);

    // ajaxでデータを送信
    $.ajax({
      // searchコントローラのsortアクションにidをjsonでコントローラへ送る
      type: 'GET',
      url: '/searchs/sort',
      data: {
        sort_id: val
      },
      dataType: 'json'
    })
      // 成功した時の処理
      .done(function(data){
        console.log(data);
        if (parent == "study_sort"){
          var html = StudyLog_HTML(data.study_logs);
          $('#study-preview').html(html);
        }else if(parent == "note_sort"){
          var html = Note_HTML(data.notes);
          $('#note-preview').html(html);
        }else if(parent == "user_sort"){
          var html = UserHTML(data.users);
          $('#user-preview').html(html);
        }
      })
    })
  });
</script>