<p><%= User.find_by(email: @resource.email).name %>様</p>

<p>パスワードの再設定を行います。以下のURLより再設定を行ってください。</p>
<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合はこのメールを無視してください。</p>
<p>上記URLで設定を完了するまで、パスワードは変更されません。</p>
